

<div class="hero is-fullheight is-light is-bold">
  <br>
  <div class="columns">
    <div class="column is-one-quarter">
    </div>
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <h1 class= "title has-text-centered"> Edita tu Carrete<h1>
          <%= form_for :carrete, :url => { :action => :update, :id => @carrete.id },
          :method => :put do |f| %>
            <div class='columns'>
            <div class='column'>
            <% if @carrete.errors.any? %>
              <div id="errorExplanation">
                <h2><%= pluralize(@carrete.errors.count, "error") %> prohibited
                  this servicio from being saved:</h2>
                <ul>
                <% @carrete.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
              <% end %>
              <p><%= f.label :title, 'Titulo: ' %><br><%= f.text_field :title, class: 'input is-info' %></p>
              <p><%= f.label :body, 'Descripción: ' %><br><%= f.text_area :body, class: "textarea is-info", rows: 10 %></p>
              <p><%= f.label :fecha, 'Fecha del Carrete: ' %><%= f.date_field :fecha, class: 'input is-info' %></p>
              <%= f.label :Comuna %><br />
              <div class = "select is-info">
						    <%= f.select :comuna_id, Comuna.all.collect { |p| [ p.nombre, p.id ] }%>
					    </div>
              <p><%= f.label :direccion, 'Dirección (calle): ' %><%= f.text_field :direccion, class: 'input is-info' %></p>
              <p><%= f.label :capacidad_maxima, 'Capacidad Máxima de asistentes: ' %><%= f.text_field :capacidad_maxima, class: 'input is-info' %></p>
              <p><%= f.label :max_price, 'Precio máximo de ingreso: ' %><%= f.text_field :max_price, class: 'input is-info' %></p>
              <p><%= f.label :min_price, 'Precio mínimo de ingreso: ' %><%= f.text_field :min_price, class: 'input is-info' %></p>
              <footer class="card-footer">
                <div class="card-footer-item">
                <%= f.submit 'Guardar cambios', class: "button is-primary" %>
                </div>
                <div class="card-footer-item">
					<%= link_to "Cancelar", carretes_index_url, class: "button is-link" %>
					<br>
					</div>
                </footer>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>      
