

<div class="hero is-fullheight is-light is-bold">
  <br>
  <div class="columns">
    <div class="column is-one-quarter">
    </div>
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <h1 class= "title has-text-centered"> Edita tu Servicio<h1>
            <%= link_to "Volver", servicio_index_url, class: "button is-primary" %>
          <%= form_for :servicio, :url => { :action => :update, :id => @servicio.id },
          :method => :put do |f| %>
            <div class='columns'>
            <div class='column is-half'>
            <% if @servicio.errors.any? %>
              <div id="errorExplanation">
                <h2><%= pluralize(@servicio.errors.count, "error") %> prohibited
                  this servicio from being saved:</h2>
                <ul>
                <% @servicio.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
                </ul>
              </div>
              <% end %>
              <p>
                <%= f.label :title , 'Titulo: '%><br>
                <%= f.text_field :title, class: 'input is-info'%>
              </p>

              <p>
                <%= f.label :body , 'Descripción: '%><br>
                <%= f.text_area :body, class: "textarea is-info", rows: 10%>
              </p>

              <p>
                <%= f.label :price , 'Precio: '%><br>
                <%= f.text_field :price, class: 'input is-info' %>
              </p>
              <footer class="card-footer">
                <div class="card-footer-item">
                <%= f.submit 'Guardar cambios', class: "button is-primary" %>
                </div>
                </footer>
              </div>
              <div class='column is-half'>
                <h1 class= "title has-text-centered"> <%= f.label :comunas %><h1>
                <% for comuna in Comuna.all %>
                  <%= check_box_tag "servicio[comuna_ids][]", comuna.id, @servicio.comunas.include?(comuna)%>
                  <%=h comuna.nombre %><br>
                <% end %>
                </div>
                </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>      


