<!DOCTYPE html>
<html>
  <head>
    <title>DCCarrete</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= link_to "Home", root_path%>
    <%= link_to "Sign up", new_user_registration_path%>
    <%= link_to "Sign in", new_user_session_path%>
    <%= link_to "Publicaciones", post_index_url%>
    <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <%= link_to "Perfil", profile_profile_path%>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    
    <%= yield %>
  </body>
</html>
