<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="columns is-centered">
      <div class="column.is-half.is-offset-one-quarter">
        <div class = "has-text-centered">
        <h1 class= "title"> DCCarrete </h1>
        </div>
        <br>
        <div class="card">
          <div class="card-content">
              <h2 class="title has-text-centered"> Editar </h2>
              
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "users/shared/error_messages", resource: resource %>

                <div class = "field">
                  <%= f.label :nombre %><br />
                  <%= f.text_field :name, autofocus: true, class: "input" %>
                </div>
                  <%= f.label :Comuna %><br />
                <div class = "select">
                  <%= f.select :comunas_id, Comuna.all.collect { |p| [ p.nombre, p.id ] }, include_blank: true %>
                </div>

                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input"  %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :contraseña %> <i>(Dejar en blanco si no deseas cambiarla)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password", class: "input" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> caracteres mínimo</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :confirmar_contraseña_nueva %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input" %>
                </div>

                <div class="field">
                  <%= f.label :contraseña_actual %> <i>(Necesitamos confirmar tu contraseña actual)</i><br />
                  <%= f.password_field :current_password, autocomplete: "current-password", class: "input" %>
                </div>

                <div class="actions">
                  <%= f.submit "Actualizar datos", class: "button is-success is-fullwidth" %>
                </div>
              <% end %>
              <br>
              <p> <%= button_to "Eliminar mi cuenta :(", registration_path(resource_name), data: { confirm: "¿Estás seguro? Cambios irreversibles." }, method: :delete, class: "button is-danger is-fullwidth" %></p>
          </div>  
        </div>    
      </div>  
    </div>  
  </div>
</section>
